Это лишь малая часть из того, что будет доступно в будущем!<br>
С ростом количества данных статистика будет улучшаться!<br><br>
<h3>Командная статистика</h3>
<div class="divTable">
    <div class="divTableBody">
        <div class="divTableRow">
            <div class="divTableCell"><b>Команда</b></div>
            <div class="divTableCell"><b>Членов</b></div>
            <div class="divTableCell"><b>Сегментов</b></div>
            <div class="divTableCell"><b title="Число скипов сделанных членами команды">Скипов</b></div>
            <div class="divTableCell"><b title="Число скипов сделанных благодаря сегментам команды">Скипов для всех</b></div>
        </div>
        <div class="divTableRow">
            <div class="divTableCell">ООН</div>
            <div class="divTableCell"><div id="users_fraction_0">загрузка...</div></div>
            <div class="divTableCell"><div id="reports_fraction_0">загрузка...</div></div>
            <div class="divTableCell"><div id="skips_by_fraction_0">загрузка...</div></div>
            <div class="divTableCell"><div id="skips_for_fraction_0">загрузка...</div></div>
        </div>
        <div class="divTableRow">
            <div class="divTableCell">НАТО</div>
            <div class="divTableCell"><div id="users_fraction_1">загрузка...</div></div>
            <div class="divTableCell"><div id="reports_fraction_1">загрузка...</div></div>
            <div class="divTableCell"><div id="skips_by_fraction_1">загрузка...</div></div>
            <div class="divTableCell"><div id="skips_for_fraction_1">загрузка...</div></div>
        </div>
        <div class="divTableRow">
            <div class="divTableCell">СССР</div>
            <div class="divTableCell"><div id="users_fraction_2">загрузка...</div></div>
            <div class="divTableCell"><div id="reports_fraction_2">загрузка...</div></div>
            <div class="divTableCell"><div id="skips_by_fraction_2">загрузка...</div></div>
            <div class="divTableCell"><div id="skips_for_fraction_2">загрузка...</div></div>
        </div>
    </div>
</div>
<br>
<div>
    <input type="checkbox" id="onlyMod">
    <label for="onlyMod">Считать только проверенные модераторами сегменты?</label>
</div>
<br>
<h3>Топ 15 пользователей</h3>
<div class="divTable">
    <div id="top15users" class="divTableBody">
        Загрузка...
    </div>
</div>
<br>
<h3>Топ 15 стран</h3>
<div class="divTable">
    <div id="top15countries" class="divTableBody">
        Загрузка...
    </div>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/json2html/1.4.0/json2html.min.js"></script>

<script type="text/javascript">
    var isoCountries = {
        'AD' : 'Андора',
        'AE' : 'Объединённые Арабские Эмираты',
        'AF' : 'Афганистан',
        'AG' : 'Антигуа и Барбуда',
        'AI' : 'Ангилья',
        'AL' : 'Албания',
        'AM' : 'Армения',
        'AN' : 'Нидерландские Антильские острова',
        'AO' : 'Ангола',
        'AQ' : 'Антарктида',
        'AR' : 'Аргентина',
        'AS' : 'Американские Острова Самоа',
        'AT' : 'Австрия',
        'AU' : 'Австралия',
        'AW' : 'Аруба',
        'AX' : 'Острова Åland',
        'AZ' : 'Азербайджан',
        'BA' : 'Босния и Герцеговина',
        'BB' : 'Барбадос',
        'BD' : 'Бангладеш',
        'BE' : 'Бельгия',
        'BF' : 'Буркина-Фасо',
        'BG' : 'Болгария',
        'BH' : 'Бахрейн',
        'BI' : 'Бурунди',
        'BJ' : 'Бенин',
        'BL' : 'Святой Бартелеми',
        'BM' : 'Бермуды',
        'BN' : 'Бруней',
        'BO' : 'Боливия',
        'BR' : 'Бразилия',
        'BS' : 'Багамы',
        'BT' : 'Бутан',
        'BV' : 'Bouvet Island',
        'BW' : 'Ботсвана',
        'BY' : 'Белоруссия',
        'BZ' : 'Белиз',
        'CA' : 'Канада',
        'CC' : 'Кокосовые острова (острова Килинг)',
        'CD' : 'Конго (Дем. Респ.)',
        'CF' : 'Центральноафриканская Республика',
        'CG' : 'Конго',
        'CH' : 'Швейцария',
        'CI' : 'Кот-д\'Ивуар',
        'CK' : 'Острова Кука',
        'CL' : 'Чили',
        'CM' : 'Камерун',
        'CN' : 'Китай',
        'CO' : 'Колумбия',
        'CR' : 'Коста-Рика',
        'CU' : 'Куба',
        'CV' : 'Зелёный мыс',
        'CX' : 'Остров Рождества',
        'CY' : 'Кипр',
        'CZ' : 'Чешская республика',
        'DE' : 'Германия',
        'DJ' : 'Джибути',
        'DK' : 'Дания',
        'DM' : 'Доминиканская республика',
        'DO' : 'Доминиканская Республика',
        'DZ' : 'Алжир',
        'EC' : 'Эквадор',
        'EE' : 'Эстония',
        'EG' : 'Египет',
        'EH' : 'Западная Сахара',
        'ER' : 'Эритрея',
        'ES' : 'Испания',
        'ET' : 'Эфиопия',
        'FI' : 'Финляндия',
        'FJ' : 'Фиджи',
        'FK' : 'Фолклендские острова',
        'FM' : 'Микронезия',
        'FO' : 'Faroe Islands',
        'FR' : 'Франция',
        'GA' : 'Габон',
        'GB' : 'Великобритания',
        'GD' : 'Гренада',
        'GE' : 'Грузия',
        'GF' : 'Французская Гвиана',
        'GG' : 'Гернси',
        'GH' : 'Гана',
        'GI' : 'Гибралтар',
        'GL' : 'Остров Гренландия',
        'GM' : 'Гамбия',
        'GN' : 'Гвинея',
        'GP' : 'Остров Гваделупа',
        'GQ' : 'Экваториальная Гвинея',
        'GR' : 'Греция',
        'GS' : 'S. Georgia and S. Sandwich Isls.',
        'GT' : 'Гватемала',
        'GU' : 'Гуам',
        'GW' : 'Гвинея - Бисау',
        'GY' : 'Гайана',
        'HK' : 'Гонконг',
        'HM' : 'Heard and McDonald Islands',
        'HN' : 'Гондурас',
        'HR' : 'Хорватия',
        'HT' : 'Гаити',
        'HU' : 'Венгрия',
        'ID' : 'Индонезия',
        'IE' : 'Ирландия',
        'IL' : 'Израиль',
        'IM' : 'Остров Мэн',
        'IN' : 'Индия',
        'IO' : 'Британская территория Индийского океана',
        'IQ' : 'Ирак',
        'IR' : 'Иран',
        'IS' : 'Исландия',
        'IT' : 'Италия',
        'JM' : 'Ямайка',
        'JO' : 'Иордания',
        'JP' : 'Япония',
        'KE' : 'Кения',
        'KG' : 'Кыргызстан',
        'KH' : 'Камбоджа',
        'KI' : 'Кирибати',
        'KM' : 'Коморские острова',
        'KN' : 'Сент-Киттс и Невис',
        'KP' : 'Северная Корея',
        'KR' : 'Южная Корея',
        'KW' : 'Кувейт',
        'KY' : 'Каймановы острова',
        'KZ' : 'Казахстан',
        'LA' : 'Лаос',
        'LB' : 'Ливан',
        'LC' : 'Сент-Люсия',
        'LI' : 'Лихтенштейн',
        'LK' : 'Шри-Ланка',
        'LR' : 'Либерия',
        'LS' : 'Лесото',
        'LT' : 'Литва',
        'LU' : 'Люксембург',
        'LV' : 'Латвия',
        'LY' : 'Ливия',
        'MA' : 'Марокко',
        'MC' : 'Монако',
        'MD' : 'Молдова',
        'ME' : 'Черногория',
        'MF' : 'Сен-Мартен',
        'MG' : 'Мадагаскар',
        'MH' : 'Маршалловы острова',
        'MK' : 'Македония',
        'ML' : 'Мали',
        'MM' : 'Myanmar',
        'MN' : 'Монголия',
        'MO' : 'Макао',
        'MP' : 'Северные Марианские острова',
        'MQ' : 'Мартиника',
        'MR' : 'Мавритания',
        'MS' : 'Монтсеррат',
        'MT' : 'Мальта',
        'MU' : 'Маврикий',
        'MV' : 'Мальдивы',
        'MW' : 'Малави',
        'MX' : 'Мексика',
        'MY' : 'Малайзия',
        'MZ' : 'Мозамбик',
        'NA' : 'Намибия',
        'NC' : 'Новая Каледония',
        'NE' : 'Нигер',
        'NF' : 'Остров Норфолк',
        'NG' : 'Нигерия',
        'NI' : 'Никарагуа',
        'NL' : 'Нидерланды',
        'NO' : 'Норвегия',
        'NP' : 'Непал',
        'NR' : 'Науру',
        'NT' : 'Нейтральная Зона',
        'NU' : 'Ниуэ',
        'NZ' : 'Новая Зеландия',
        'OM' : 'Оман',
        'PA' : 'Панама',
        'PE' : 'Перу',
        'PF' : 'Французская Полинезия',
        'PG' : 'Папуа-Новая Гвинея',
        'PH' : 'Филиппины',
        'PK' : 'Пакистан',
        'PL' : 'Польша',
        'PM' : 'St. Pierre and Miquelon',
        'PN' : 'Pitcairn',
        'PR' : 'Пуэрто-Рико',
        'PS' : 'Палестина',
        'PT' : 'Португалия',
        'PW' : 'Палау',
        'PY' : 'Парагвай',
        'QA' : 'Катар',
        'RE' : 'Reunion',
        'RO' : 'Румыния',
        'RS' : 'Сербия',
        'RU' : 'Российская Федерация',
        'RW' : 'Руанда',
        'SA' : 'Саудовская Аравия',
        'SB' : 'Соломоновы Острова',
        'SC' : 'Сейшельские острова',
        'SD' : 'Судан',
        'SE' : 'Швеция',
        'SG' : 'Сингапур',
        'SH' : 'С-Хелена',
        'SI' : 'Словения',
        'SJ' : 'Svalbard and Jan Mayen Islands',
        'SK' : 'Словакия',
        'SL' : 'Сьерра-Леоне',
        'SM' : 'Сан-Марино',
        'SN' : 'Сенегал',
        'SO' : 'Сомали',
        'SR' : 'Суринам',
        'ST' : 'Sao Tome and Principe',
        'SV' : 'Сальвадор',
        'SY' : 'Сирия',
        'SZ' : 'Свазиленд',
        'TC' : 'Острова Теркс и Кайкос',
        'TD' : 'Чад',
        'TF' : 'Французские Южные Территории',
        'TG' : 'Того',
        'TH' : 'Тайланд',
        'TJ' : 'Таджикистан',
        'TK' : 'Токелау',
        'TL' : 'Timor-Leste',
        'TM' : 'Туркмения',
        'TN' : 'Тунис',
        'TO' : 'Тонга',
        'TR' : 'Турция',
        'TT' : 'Тринидад и Тобаго',
        'TV' : 'Тувалу',
        'TW' : 'Tайвань',
        'TZ' : 'Танзания',
        'UA' : 'Украина',
        'UG' : 'Уганда',
        'UK' : 'Соединённое Королевство',
        'UM' : 'US Minor Outlying Islands',
        'US' : 'Соединённые Штаты',
        'UY' : 'Уругвай',
        'UZ' : 'Узбекистан',
        'VA' : 'Ватиканское государство',
        'VC' : 'Сент-Винсент и Гренадины',
        'VE' : 'Венесуэла',
        'VG' : 'Виргинские острова (Британия)',
        'VI' : 'Виргинские острова (США)',
        'VN' : 'Вьетнам',
        'VU' : 'Вануату',
        'WF' : 'Острова Уоллис и Футуна',
        'WS' : 'Острова Самоа',
        'YE' : 'Йемен',
        'YT' : 'Mayotte',
        'ZA' : 'Южная Африка',
        'ZM' : 'Замбия',
        'ZW' : 'Зимбабве'
    };
    /***********
     Animates element's number to new number with commas
     Parameters:
     stop (number): number to stop on
     commas (boolean): turn commas on/off (default is true)
     duration (number): how long in ms (default is 1000)
     ease (string): type of easing (default is "swing", others are avaiable from jQuery's easing plugin
     Examples:
     $("#div").animateNumbers(1234, false, 500, "linear"); // half second linear without commas
     $("#div").animateNumbers(1234, true, 2000); // two second swing with commas
     $("#div").animateNumbers(4321); // one second swing with commas
     This fully expects an element containing an integer
     If the number is within copy then separate it with a span and target the span
     Will work in appropriate inputs
     Inserts and accounts for commas during animation by default

     https://github.com/talmand/jquery-animate-numbers
     ***********/

    !function(e){e.fn.animateNumbers=function(t,a,n,l){return this.each(function(){var i=e(this),r=i.is("input"),v=parseInt(r?i.val().replace(/,/g,""):i.text().replace(/,/g,"")),u=/(\d)(?=(\d\d\d)+(?!\d))/g;a=void 0===a?!0:a,r&&"number"===i[0].type&&(a=!1),e({value:v}).animate({value:t},{duration:void 0===n?1e3:n,easing:void 0===l?"swing":l,step:function(){r?i.val(Math.floor(this.value)):i.text(Math.floor(this.value)),a&&(r?i.val(i.val().replace(u,"$1,")):i.text(i.text().replace(u,"$1,")))},complete:function(){(parseInt(i.text())!==t||parseInt(i.val())!==t)&&(r?i.val(t):i.text(t),a&&(r?i.val(i.val().replace(u,"$1,")):i.text(i.text().replace(u,"$1,"))))}})})}}(jQuery);
    function get_faction_stats() {
        $.getJSON("https://karma.adwhore.net:47976/stats", function (data) {
            $("#users_fraction_0").animateNumbers(data["f0"]["users"]);
            $("#users_fraction_1").animateNumbers(data["f1"]["users"]);
            $("#users_fraction_2").animateNumbers(data["f2"]["users"]);

            $("#reports_fraction_0").animateNumbers(data["f0"]["reports"]);
            $("#reports_fraction_1").animateNumbers(data["f1"]["reports"]);
            $("#reports_fraction_2").animateNumbers(data["f2"]["reports"]);

            $("#skips_by_fraction_0").animateNumbers(data["f0"]["skips"]);
            $("#skips_by_fraction_1").animateNumbers(data["f1"]["skips"]);
            $("#skips_by_fraction_2").animateNumbers(data["f2"]["skips"]);

            $("#skips_for_fraction_0").animateNumbers(data["f0"]["skips_by"]);
            $("#skips_for_fraction_1").animateNumbers(data["f1"]["skips_by"]);
            $("#skips_for_fraction_2").animateNumbers(data["f2"]["skips_by"]);


            setTimeout(get_faction_stats, 2200); // <-- when you ge a response, call it
        });
    }
    get_faction_stats();

    let templateUsers = {"<>":"div","class":"divTableRow","html":[
            {"<>":"div","class":"divTableCell","html":"${place}"},
            {"<>":"div","class":"divTableCell","html":"${id}"},
            {"<>":"div","class":"divTableCell","html":"${name}"},
            {"<>":"div","class":"divTableCell","html":"${count}"},
            {"<>":"div","class":"divTableCell","html":"${skips}"},
            {"<>":"div","class":"divTableCell","html":"${time_saved}"}
        ]};

    let templateCountries = {"<>":"div","class":"divTableRow","html":[
            {"<>":"div","class":"divTableCell","html":"${place}"},
            {"<>":"div","class":"divTableCell","html":"${iso}"},
            {"<>":"div","class":"divTableCell","html":"${count}"},
            {"<>":"div","class":"divTableCell","html":"${skips}"},
            {"<>":"div","class":"divTableCell","html":"${time_saved}"}
        ]};

    let headerUsers = "<div class='divTableRow'><div class='divTableCell'><b>№</b></div><div class='divTableCell'><b>ID</b></div><div class='divTableCell'><b>Ник</b></div><div class='divTableCell'><b>Сегментов</b></div><div class='divTableCell'><b>Скипов</b></div><div class='divTableCell'><b>Экономия</b></div></div>"
    let headerCountries = "<div class='divTableRow'><div class='divTableCell'><b>№</b></div><div class='divTableCell'><b>Страна</b></div><div class='divTableCell'><b>Сегментов</b></div><div class='divTableCell'><b>Скипов</b></div><div class='divTableCell'><b>Экономия</b></div></div>"

    function secondsToHM(seconds) {
        seconds = Number(seconds);
        var h = Math.floor(seconds / 3600);
        var m = Math.floor(seconds % 3600 / 60);

        var hDisplay = h > 0 ? h + "ч:" : "";
        var mDisplay = m > 0 ? m + "м" : "";
        return hDisplay + mDisplay;
    }

    $.ajax({
        dataType: "json",
        url: "https://karma.adwhore.net:47976/top15users",
        success: function (data) {
            for (var i = 0; i < data["actual"].length; i++) {
                data["actual"][i]["time_saved"] = secondsToHM(data["actual"][i]["time_saved"])
            }
            for (var i = 0; i < data["moderated"].length; i++) {
                data["moderated"][i]["time_saved"] = secondsToHM(data["moderated"][i]["time_saved"])
            }
            stats_users = data;
            document.getElementById("top15users").innerHTML = headerUsers + json2html.transform(data["actual"], templateUsers)
        },
        statusCode: {
            429: function(responseObject, textStatus, jqXHR) {
                document.getElementById("top15users").innerHTML = "<b>Ошибка HTTP 429: слишком много запросов</b><br>Похоже, вы запрашивали статистику слишком часто, а это  могло привести к перегрузке сервера.<br>Для расчета статистики требуется много ресурсов, поэтому пришлось установить временное ограничение, чтобы злоумышленники не смогли нанести вред серверу ADN.<br>Позже я буду использовать другой подход для обновления статистики для всех без большой нагрузки, но пока мне пришлось ограничиться этим ограничением, чтобы сосредоточиться на разработке более приоритетных функций.<br>Попробуйте обновить страницу позже. Извините, если это нарушило ваши планы."
            }
        }
    });

    $.ajax({
        dataType: "json",
        url: "https://karma.adwhore.net:47976/top15countries",
        success: function (data) {
            for (var i = 0; i < data["actual"].length; i++) {
                data["actual"][i]["time_saved"] = secondsToHM(data["actual"][i]["time_saved"])
                data["actual"][i]["iso"] = isoCountries[data["actual"][i]["iso"]]
            }
            for (var i = 0; i < data["moderated"].length; i++) {
                data["moderated"][i]["time_saved"] = secondsToHM(data["moderated"][i]["time_saved"])
                data["moderated"][i]["iso"] = isoCountries[data["moderated"][i]["iso"]]
            }
            stats_countries = data;
            document.getElementById("top15countries").innerHTML = headerCountries + json2html.transform(data["actual"], templateCountries)
        },
        statusCode: {
            429: function(responseObject, textStatus, jqXHR) {
                document.getElementById("top15countries").innerHTML = "<b>Ошибка HTTP 429: слишком много запросов</b><br>Похоже, вы запрашивали статистику слишком часто, а это  могло привести к перегрузке сервера.<br>Для расчета статистики требуется много ресурсов, поэтому пришлось установить временное ограничение, чтобы злоумышленники не смогли нанести вред серверу ADN.<br>Позже я буду использовать другой подход для обновления статистики для всех без большой нагрузки, но пока мне пришлось ограничиться этим ограничением, чтобы сосредоточиться на разработке более приоритетных функций.<br>Попробуйте обновить страницу позже. Извините, если это нарушило ваши планы."
            }
        }
    });

    document.getElementById("onlyMod").addEventListener("click", function () {
        if (document.getElementById("onlyMod").checked) {
            document.getElementById("top15countries").innerHTML = headerCountries + json2html.transform(stats_countries["moderated"], templateCountries)
            document.getElementById("top15users").innerHTML = headerUsers + json2html.transform(stats_users["moderated"], templateUsers)
        } else {
            document.getElementById("top15countries").innerHTML = headerCountries + json2html.transform(stats_countries["actual"], templateCountries)
            document.getElementById("top15users").innerHTML = headerUsers + json2html.transform(stats_users["actual"], templateUsers)

        }
    });
</script>