/*! CSS Used from: https://www.youtube.com/s/player/134332d3/www-player-2x-webp.css */
.html5-video-player:not(.ytp-touch-mode) ::-webkit-scrollbar {
    width: 10px;
    background-color: #424242;
}
.html5-video-player:not(.ytp-touch-mode) ::-webkit-scrollbar-track {
    background-color: #424242;
}
.html5-video-player:not(.ytp-touch-mode) ::-webkit-scrollbar-thumb {
    background-color: #8e8e8e;
    border: 1px solid #424242;
    border-radius: 5px;
}
.ytp-button {
    border: none;
    background-color: transparent;
    padding: 0;
    color: inherit;
    text-align: inherit;
    font-size: 100%;
    font-family: inherit;
    cursor: default;
    line-height: inherit;
}
.ytp-button:focus,
.ytp-button {
    outline: 0;
}
.ytp-button::-moz-focus-inner {
    padding: 0;
    border: 0;
}
.ytp-button:not([aria-disabled="true"]):not([disabled]):not([aria-hidden="true"]) {
    cursor: pointer;
}
@media print {
    .html5-video-player * {
        visibility: hidden;
    }
}
.ytp-ad-skip-ad-slot {
    text-shadow: 0 0 4px rgba(0, 0, 0, 0.75);
    pointer-events: auto;
    z-index: 35;
}
.ytp-ad-skip-button-container {
    bottom: 74px;
    display: inline-block;
    position: absolute;
    right: 0;
    z-index: 1000;
}
.ytp-ad-skip-button-container {
    -moz-transition: opacity 0.5s cubic-bezier(0, 0, 0.2, 1);
    -webkit-transition: opacity 0.5s cubic-bezier(0, 0, 0.2, 1);
    transition: opacity 0.5s cubic-bezier(0, 0, 0.2, 1);
    cursor: pointer;
    opacity: 0.7;
    pointer-events: auto;
}
.ytp-ad-skip-button {
    background: rgba(0, 0, 0, 0.7);
    border: 1px solid rgba(255, 255, 255, 0.5);
    border-right: 0;
    box-sizing: content-box;
    color: #fff;
    direction: ltr;
    font-size: 18px;
    line-height: normal;
    min-width: 0;
    padding: 10px 6px 8px 10px;
    width: auto;
    text-align: center;
    cursor: pointer;
}
.ytp-ad-skip-button:hover {
    background: rgba(0, 0, 0, 0.9);
    border: 1px solid rgba(255, 255, 255, 1);
    border-right: 0;
}
.ytp-ad-player-overlay-skip-or-preview {
    width: 100%;
    height: 100%;
    right: 0;
}
/*! CSS Used from: Embedded */
div,
img,
span {
    margin: 0;
    padding: 0;
    border: 0;
    background: transparent;
}
